<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities" connectionString="metadata=res://*/ModeloVeterinaria.csdl|res://*/ModeloVeterinaria.ssdl|res://*/ModeloVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities1" connectionString="metadata=res://*/ModeloVeterinaria.csdl|res://*/ModeloVeterinaria.ssdl|res://*/ModeloVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities2" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities4" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities5" connectionString="metadata=res://*/ModelVeterinaria2.csdl|res://*/ModelVeterinaria2.ssdl|res://*/ModelVeterinaria2.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities6" connectionString="metadata=res://*/ModelVeterinaria2.csdl|res://*/ModelVeterinaria2.ssdl|res://*/ModelVeterinaria2.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities7" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities8" connectionString="metadata=res://*/ModelVeterinaria2.csdl|res://*/ModelVeterinaria2.ssdl|res://*/ModelVeterinaria2.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities9" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities10" connectionString="metadata=res://*/ModelVeterinaria2.csdl|res://*/ModelVeterinaria2.ssdl|res://*/ModelVeterinaria2.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities11" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Farmacia_Veterinaria_Salud_AnimalEntities12" connectionString="metadata=res://*/ModelVeterinaria.csdl|res://*/ModelVeterinaria.ssdl|res://*/ModelVeterinaria.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-1UHRL66;initial catalog=&quot;Farmacia_Veterinaria Salud Animal&quot;;user id=sa;password=.;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>